.footer-bg {
  background: var(--c-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 80px 40px;
  padding-top: 60px;
  padding-bottom: 32px;
}

.footer h2 {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even)::after {
  display: block;
  content: "";
  max-width: 360px;
  height: 2px;
  background: var(--c-11);
  margin-top: 16px;
}

.footer-contato div {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--c-00);
}

.footer-informacoes li:last-child {
  margin-bottom: 0;
}

.footer p {
  grid-column: 1 / -1;
}

@media (width <= 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media (width <= 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
